{% extends "base.html" %}

{% load static %}





{% block content %}




<div class="container text-center my-auto">


<div class="row">
<div class="card-columns">

                                                 <!-- Card1 -->
  <div class="card bg-light">
    <div class="card-header">
      <h5 class="text-muted">Не  предоставлено отчетов:</h5>
    </div>

    <div class="card-body">
    <div class="row">
    <div class="col">сентябрь 2019</div>
    <div class="col"><a href="#">15</a></div>
        <div class="w-100"></div>
    <div class="col">октябрь 2019</div>
    <div class="col"><a href="#">5</a></div>
        <div class="w-100"></div>
    <div class="col">ноябрь 2019</div>
    <div class="col"><a href="#">25</a></div>
        <div class="w-100"></div>
    <div class="col">декабрь 2019</div>
    <div class="col"><a href="#">11</a></div>
        <div class="w-100"></div>
    <div class="col">январь 2020</div>
    <div class="col"><a href="#">7</a></div>
        <div class="w-100"></div>
    </div>
    </div>

    <div class="card-footer">

    <div class="row">
    <div class="col"><h5 class="text-muted">Всего:</h5></div>
    <div class="col"><h5 class="text-muted"><a href="#">52</a></h5></div>
        <div class="w-100"></div>
 </div>
    </div>
  </div>


                                        <!-- Card2 -->

<div class="card bg-primary text-white text-center">
    <div class="card-header">
      <h5 class="text-white">Необходимы дополнительные соглашения в:</h5>
    </div>

    <div class="card-body">
        <h1 class="display-1"><a class="text-white" href="#">7</a></h1>
        проектах
    </div>
  </div>


                                        <!-- Card3 -->


<div class="card bg-info text-white text-center">
    <div class="card-header">
      <h5 class="text-white">Необходимы запросы на изменение в:</h5>
    </div>

    <div class="card-body">
        <h1 class="display-1"><a class="text-white" href="#">14</a></h1>
        проектах
    </div>
  </div>

                                 <!-- Card4 -->


<div class="card bg-success text-white text-center">
    <div class="card-header">
      <h5 class="text-white">Без долгов по отчетам:</h5>
    </div>

    <div class="card-body">
        <h1 class="display-1"><a class="text-white" href="#">11</a></h1>
        проектов
    </div>
  </div>

                     <!-- Card5 -->


<div class="card bg-light">
    <div class="card-header">
      <h5 class="text-muted">Курируемых проектов:</h5>
    </div>

    <div class="card-body">
    <div class="row">
    <div class="col">Южаков Ю.А.</div>
    <div class="col"><a href="#">15</a></div>
        <div class="w-100"></div>
    <div class="col">Милькис Н.А.</div>
    <div class="col"><a href="#">5</a></div>
        <div class="w-100"></div>
    <div class="col">Кольцов В.С.</div>
    <div class="col"><a href="#">25</a></div>
        <div class="w-100"></div>
    <div class="col">Забозлаев А.Г.</div>
    <div class="col"><a href="#">11</a></div>
        <div class="w-100"></div>
    <div class="col">Зобницев А.Н.</div>
    <div class="col"><a href="#">7</a></div>
        <div class="w-100"></div>
    </div>
    </div>

    <div class="card-footer">

    <div class="row">
    <div class="col"><h5 class="text-muted">Всего:</h5></div>
    <div class="col"><h5 class="text-muted"><a href="#">46</a></h5></div>
        <div class="w-100"></div>
 </div>
    </div>
  </div>

                    <!-- Card6 -->


<div class="card bg-warning text-white text-center">
    <div class="card-header">
      <h5 class="text-white">Технические проблемы в:</h5>
    </div>

    <div class="card-body">
        <h1 class="display-1"><a class="text-white" href="#">8</a></h1>
        проектах
    </div>
  </div>




</div>
</div>
</div>





{% endblock %}


{% block scripts %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/print/bootstrap-table-print.min.js"></script>


<script>
  var $table = $('#table')

  $(function() {
    $table.bootstrapTable()

    $('#locale').change(function () {
      $table.bootstrapTable('refreshOptions', {
        locale: $(this).val()
      })
    })
  })

</script>


{% endblock %}







