{% extends "base.html" %}
{% load static %}




{% block content %}


<br><br><br><br>
<div class="container text-center my-auto mx-auto">
  <div class="row">
    <div class="col-sm">
    </div>
   <div class="col-sm">
        <form class="form-group align-items-center" method="post" action=".">
            {% csrf_token %}
<!--           {{ form.as_p }}   если выводить всю форму -->
            <h6>Логин:</h6>
            {{ form.username }}
            <br>
            <h6>Пароль:</h6>
            {{ form.password }}
            <br>
            <input type="submit" class="btn btn-primary" value="Войти">
            <br><br>

        </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
</div>




{% endblock %}
