{% extends "base.html" %}

{% load static %}







{% block content %}


<div class="container">
    <div class="content-section-heading">
        <h2 class="mb-3" >Проект:&nbsp
        <span class="text-muted">{{ project.name }}</span>
        </h2>
    </div>
</div>


<div class="container">
  <div class="row row-cols-2">

    <div class="col">
        <h5 >Национальный проект:&nbsp
        <span class="text-muted">{{ project.portfolio }}</span>
        </h5>
        <h5 class="mb-5" >Код федерального проекта:&nbsp
        <span class="text-muted">{{ project.code }}</span>
        </h5>
    </div>
    <div class="col">
        <h6 >Дата последнего изменения карточки проекта:&nbsp<br>
        <span class="text-muted">{{ project.date_change_status }}</span>
        </h6>
        <h6 >Автор изменений:&nbsp<br>
        <span class="text-muted">"имя пользователя"</span>
        </h6>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">
                <h5 class="card-title">Команда</h5>
                    <p class="card-text">
                Куратор:&nbsp{{ project.curator }} <br>
                Администратор:&nbsp{{ project.administrator }} <br>
                    </p>
             </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">
                <h5 class="card-title">Комментарий Деппроектов Югры</h5>
                    <p class="card-text">
                        {{ project.comment }}
                    </p>
             </div>
        </div>
    </div>

    <div class="col">
<div class="card border-primary mb-3">
  <div class="card-header bg-transparent border-primary"><h5 class="card-title">Чат проекта</h5></div>
  <div class="card-body">

{% for i in chat %}
    {% if i.project == project %}
        {{ i.date_post }}&nbsp
        {{ i.autor }}: &nbsp
        {{ i.text }}<br>
        {{ i.file1 }}
        {{ i.image1 }}
        {{ i.image2 }}
        {{ i.image3 }}<br><br>
    {% endif %}
{% endfor %}




  </div>
  <div class="card-footer bg-transparent border-primary">Footer</div>
</div>
    </div>


    <div class="col">Column</div>

  </div>
</div>



 <samp>Для вывода на печать нажмите </samp> <kbd><kbd>ctrl</kbd> + <kbd>P</kbd></kbd>



{% endblock %}


{% block scripts %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/print/bootstrap-table-print.min.js"></script>


<script>
  var $table = $('#table')

  $(function() {
    $table.bootstrapTable()

    $('#locale').change(function () {
      $table.bootstrapTable('refreshOptions', {
        locale: $(this).val()
      })
    })
  })

</script>



{% endblock %}







