{% extends "base.html" %}

{% load static %}







{% block content %}


<div class="container">
    <div class="content-section-heading">
        <h2 class="mb-3" >Проект:&nbsp
        <span class="text-muted">{{ project.name }}</span>
        </h2>
    </div>
</div>


<div class="container">
  <div class="row row-cols-2">

    <div class="col">
        <h5 >Национальный проект:&nbsp
        <span class="text-muted">{{ project.portfolio }}</span>
        </h5>
        <h5 class="mb-5" >Код федерального проекта:&nbsp
        <span class="text-muted">{{ project.code }}</span>
        </h5>
    </div>
    <div class="col">
        <h6 >Ответственный за актуальность карточки проекта:&nbsp<br>
        <span class="text-muted">{{ project.auditor }}</span>
        </h6>
        <h6 >Дата последнего изменения карточки проекта:&nbsp<br>
        <span class="text-muted">{{ project.time_change }}</span>
        </h6>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">
                <h5 class="card-title"><i class="fas fa-users"></i> &nbsp Команда</h5>
                    <p class="card-text">
                Куратор:&nbsp{{ project.curator }} <br>
                Руководитель:&nbsp{{ project.director }} <br>
                Администратор:&nbsp{{ project.administrator }} <br>

                    </p>
             </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">

                <h5 class="card-title"><i class="fas fa-heartbeat"></i> &nbsp Здоровье паспорта</h5>
                Необходим запрос на изменение:&nbsp
                    {% if project.need_zi == "Да" %}<span class="badge badge-danger">Да</span>{% endif %}
                    {% if project.need_zi == "Нет" %}<span class="badge badge-success">Нет</span>{% endif %}
                <br>
                Необходимо заключение дополнительного соглашения:&nbsp
                    {% if project.need_sogl == "Да" %}<span class="badge badge-danger">Да</span>{% endif %}
                    {% if project.need_sogl == "Нет" %}<span class="badge badge-success">Нет</span>{% endif %}
                <br>
                Проблема с разделом "Финансовое обеспечение":&nbsp
                    {% if project.bad_finance == "Да" %}<span class="badge badge-danger">Да</span>{% endif %}
                    {% if project.bad_finance == "Нет" %}<span class="badge badge-success">Нет</span>{% endif %}
                    {% if project.bad_finance != "Нет" and project.bad_finance != "Да"%}<span class="badge badge-secondary">Идет анализ</span>{% endif %}
                <br>
             </div>
        </div>
    </div>

    <div class="col">
<div class="card border-primary mb-3">
  <div class="card-header bg-transparent border-primary"><h5 class="card-title"><i class="fas fa-comments"></i> &nbsp Последние сообщения в чате проекта</h5></div>
  <div class="card-body">

{% for i in chat %}
    {% if i.project == project %}

        {{ i.time }}&nbsp
        {{ i.author }}: &nbsp
        {{ i.text }}<br>
        {{ i.file1 }}
        {{ i.file2 }}
        {{ i.file3 }}
        <br><br>
    {% endif %}
{% endfor %}

  </div>
  <div class="card-footer bg-transparent border-primary">

      <a href="./chat" class="btn btn-primary">Перейти в чат проекта</a>

</div>
</div>
    </div>





   <div class="col">
<div class="card border-primary mb-3">
  <div class="card-header bg-transparent border-primary"><h5 class="card-title"><i class="fas fa-file-contract"></i> &nbsp Отчетность</h5></div>
  <div class="card-body">
\\Список отчетов
  </div>
  <div class="card-footer bg-transparent border-primary">

      <a href="" class="btn btn-primary">Перейти к отчетам</a>

</div>
</div>
    </div>




  </div>
</div>



 <samp>Для вывода на печать нажмите </samp> <kbd><kbd>ctrl</kbd> + <kbd>P</kbd></kbd>


{% endblock %}


{% block scripts %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




{% endblock %}







