{% extends "base.html" %}

{% load static %}







{% block content %}



<div class="container">
    <div class="content-section-heading">
        <h2 class="mb-3" ><span class="text-muted">Выгрузка данных из&nbsp</span>
        ГИИС "Электронный бюджет"
        </h2>
    </div>
</div>





<div class="container">
  <div class="row row-cols-2">

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">
                <h5 class="card-title"><i class="fas fa-heartbeat"></i> &nbsp Здравоохранение</h5>
                    <ul>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=N1">Развитие системы оказания первичной медико-санитарной помощи </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=N2">Борьба с сердечно-сосудистыми заболеваниями </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=N3">Борьба с онкологическими заболеваниями </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=N4">Развитие детского здравоохранения, включая создание современной инфраструктуры оказания медицинской помощи </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=N5">Обеспечение медицинских организаций системы здравоохранения квалифицированными кадрами </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=N7">Создание единого цифрового контура в здравоохранении на основе единой государственной информационной системы здравоохранения в сфере здравоохранения (ЕГИСЗ) </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=N8">Развитие экспорта медицинских услуг </a><br></li>
                    </ul>
             </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">
                <h5 class="card-title"><i class="fas fa-users"></i> &nbsp Демография</h5>
                    <ul>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=P1">Финансовая поддержка семей при рождении детей </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=P2">Содействие занятости женщин - создание условий дошкольного образования для детей в возрасте до трех лет </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=P3">Разработка и реализация программы системной поддержки и повышения качества жизни граждан старшего поколения </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=P4">Формирование системы мотивации граждан к здоровому образу жизни, включая здоровое питание и отказ от вредных привычек </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=P5">Создание для всех категорий и групп населения условий для занятий физической культурой и спортом, массовым спортом, в том числе повышение уровня обеспеченности населения объектами спорта, а также подготовка спортивного резерва </a><br></li>
                    </ul>
             </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">
                <h5 class="card-title"><i class="fas fa-road"></i> &nbsp Безопасные и качественные автомобильные дороги</h5>
                    <ul>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=R1">Дорожная сеть </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=R2">Общесистемные меры развития дорожного хозяйства </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=R3">Безопасность дорожного движения </a><br></li>
                    </ul>
             </div>
        </div>
    </div>

    <div class="col">
        <div class="card border-dark mb-3" >
             <div class="card-body text-dark">
                <h5 class="card-title"><i class="fas fa-city"></i> &nbsp Жилье и городская среда</h5>
                    <ul>
                <li><a class="p-2 text-dark" href="F1">Жилье </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=F2">Формирование комфортной городской среды </a><br></li>
                <li><a class="p-2 text-dark" href="http://budget.gov.ru/epbs/registry/7710168360-REGIONALPROJECT/data?filtersubject.code=86&filterfpcode=F3">Обеспечение устойчивого сокращения непригодного для проживания жилищного фонда </a><br></li>
                    </ul>
             </div>
        </div>
    </div>


  </div>
</div>







{% endblock %}


{% block scripts %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


{% endblock %}







