{% extends "base.html" %}

{% load static %}







{% block content %}



 <div class="table-responsive align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">



        <table class="table table-striped table-sm"
  data-toggle="table"
  data-locale="ru-RU"
  data-toolbar=".toolbar"
  data-search="true"
  data-sortable="true"
  data-show-toggle="true"
  data-show-columns="true"
  data-show-button-icons="true"
  data-show-pagination-switch="true"
  data-show-fullscreen="true"
  data-show-print="true"
  data-cache="false"
  data-page-list="[10, 25, 50, 100, all]"
  data-page-size="25"
  data-pagination="true"
  data-pagination-h-align="left"
  data-pagination-detail-h-align="right"
  data-search-align="left"
        >


          <thead>
            <tr>
              <th data-sortable="true">Header</th>
              <th data-sortable="true">Header</th>
              <th data-sortable="true">Header</th>
              <th data-sortable="true">Header</th>
              <th data-sortable="true">Header</th>
            </tr>
          </thead>
          <tbody>


{% for i in project %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.portfolio }}</td>
        <td>{{ i.code }}</td>
        <td>{{ i.need_update_passport }}</td>

    </tr>
{% endfor %}



          </tbody>
        </table>

 <samp>Для вывода на печать нажмите </samp> <kbd><kbd>ctrl</kbd> + <kbd>P</kbd></kbd>

      </div>


{% endblock %}


{% block scripts %}


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/print/bootstrap-table-print.min.js"></script>


<script>
  var $table = $('#table')

  $(function() {
    $table.bootstrapTable()

    $('#locale').change(function () {
      $table.bootstrapTable('refreshOptions', {
        locale: $(this).val()
      })
    })
  })

</script>



{% endblock %}







